body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;

    background-color: darkgrey;
    /* background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
}

.title{
    color: rgb(249, 68, 48);
    font-size: 38px; 
}

hr{
    width: 300px; 
    border-bottom: 4px dashed salmon; 
}


#errors, h2 {
    color: orangered;
    font-size: 20px;
    text-align: center;
}


#sudoBoard {
    border: 4px solid salmon;
    width: 351px;
    height: 351px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}


.tile, .number{
    box-sizing: border-box;
    width: 3px;
    height: 39px;
    border: 1px solid black;

    /* text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number {
    width: 35px;
    height: 35px;
    margin: 2px;
}

.active {
  background-color: salmon;
}

.tile-start {
    background-color: rgba(245, 245, 245, 0.354);
}

#digits {
  width: 351px;
  height: 50px;

  /* background-color: rgba(246, 241, 233, 0.717); */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}


.horizontal-line {
    border-bottom: 3px solid black;
}

.vertical-line {
    border-right: 3px solid black;
}


@media only screen and (min-width: 600px) {
    hr{
        width: 400px;   
    }

    .title{
        font-size: 44px;
    }

    #errors, h2 {
        color: orangered;
        font-size: 30px;
        text-align: center;
    }

    #sudoBoard {
        width: 549px;
        height: 549px;
    }

    .tile, .number{
        box-sizing: border-box;
        width: 61px;
        height: 61px;    
        /* text */
        font-size: 24px;
    }
   
    #digits {
        width: 549px;
        height: 60px;
      }
       .number {
        width: 100px;
    }

}


@media only screen and (min-width:1024px) {
    hr{
        width: 800px;   
    }

    .title{
        font-size: 58px;
    }

    #errors, h2 {
        color: orangered;
        font-size: 40px;
        text-align: center;
    }

    #sudoBoard {
        width: 900px;
        height: 900px;
    }

    .tile, .number{
        box-sizing: border-box;
        width: 100px;
        height: 100px;    
        /* text */
        font-size: 32px;
    }
   
    #digits {
        width: 900px;
        height: 60px;
      }
       .number {
        width: 96px;
    }

}